body {

}

header {
  height: 8%;
  width: 98%;
  background-color: rgb(232, 232, 232);
  position: relative;
  margin-left:1%;
  margin-right:1%;

}

header h1 {
  font-size: 60px;
  padding: 0px;
}

section {

}

div {

}

footer {
  height:8%;
  width: 97%;
  background-color: rgb(232, 232, 232);
  position: absolute;
  margin-top: 500px;
  margin-left:1%;
  margin-right:1%;
}

#column1 {
  height: 80%;
  width: 48%;
  background-color: rgb(232, 232, 232);
  float: left;
  margin:1%;
  z-index: 0;
}

#column2 {
  height: 80%;
  width: 48%;
  background-color: rgb(232, 232, 232);
  float: left;
  margin:1%;
  z-index: 0;
}

#bio {
  height: 40%;
  width: 75%;
  background-color: rgb(152, 272, 152);
  color: white;
  z-index: 1;
  position: absolute;
  text-alignment: right;
  margin-top: 12px;
  margin-left: 290px;
}

#bio p {
  text-alignment: right;
}
