/*=================================
===================================
BELOW IS THE RESPONSIVE DESIGN CODE
===================================
==================================*/

/*====================================
BELOW is responsive design for======== 
===========CAUSE AND REFLECT========== 
==============HOMEPAGE================ 
=====================================*/

@media only screen and (max-width: 1238px) {
	nav div {
	margin-left: 70%;
}
}

@media only screen and (max-width: 1197px) {
	nav div {
	margin-left: 69%;
}
}

@media only screen and (max-width: 1159px) {
	nav div {
	margin-left: 68%;
}
}

@media only screen and (max-width: 1123px) {
	nav div {
	margin-left: 67%;
}
}

@media only screen and (max-width: 1090px) {
	nav div {
	margin-left: 66%;
}
}

@media only screen and (max-width: 1058px) {
	nav div {
	margin-left: 65%;
}
}

@media only screen and (max-width: 1028px) {
	nav div {
	margin-left: 64%;
}
}

@media only screen and (max-width: 1000px) {
	nav div {
	margin-left: 63%;
}
}

@media only screen and (max-width: 974px) {
	nav div {
	margin-left: 62%;
}
}

@media only screen and (max-width: 948px) {
	nav div {
	margin-left: 61%;
}
}

@media only screen and (max-width: 925px) {
	nav div {
	margin-left: 60%;
}
}

@media only screen and (max-width: 902px) {
	nav div {
	margin-left: 59%;
}
}

@media only screen and (max-width: 880px) {
	nav div {
	margin-left: 58%;
}
}

@media only screen and (max-width: 860px) {
	nav div {
	margin-left: 57%;
}

	.subhero {
		height: 521px;
	}
	.subhero div {
		width: 43%;
		height: 225px;
		margin: 13px 1%;
	}

	.subhero h2 {
		margin-top: 90px;
	}

}

@media only screen and (max-width: 840px) {
	nav div {
	margin-left: 56%;
}
}

@media only screen and (max-width: 821px) {
	nav div {
	margin-left: 55%;
}
}

@media only screen and (max-width: 803px) {
	nav div {
	margin-left: 54%;
}
}

@media only screen and (max-width: 786px) {
	nav div {
	margin-left: 53%;
}
}

@media only screen and (max-width: 770px) {
	nav div {
	margin-left: 52%;
}
}

@media only screen and (max-width: 754px) {
	nav div {
	margin-left: 51%;
}
}

@media only screen and (max-width: 754px) {
	nav div {
		margin-left: 53%;
	}

	#logo {
		font-size: 30px;
	}

	.navbuttons {
		font-size: 18px;
		margin-top: 4px;
		width: 70px;
	}

	nav div li {
		margin-top: -4px;
	}

	#hero {
		height: 350px;
	}

	#hero h1 {
		font-size: 35px;
		margin-top: 70px;
	}

	#hero a {
		font-size: 25px;
		margin-top: 100px;
	}

	#weare {
		height: 350px;
	}

	#weare h2 {
		font-size: 30px;
		margin-top: 120px;
	}

}

@media only screen and (max-width: 739px) {
	nav div {
	margin-left: 50%;
}
}

@media only screen and (max-width: 725px) {
	nav div {
	margin-left: 49%;
}
}

@media only screen and (max-width: 711px) {
	nav div {
	margin-left: 48%;
}
}

@media only screen and (max-width: 569px) {

	nav {
		height: 80px;
	}
	#logo {
		width: 99%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	nav div {
		width: 99%;
		display: block;
		float: none;
		margin-left: 22%;
		margin-top: -1.5px;
	}

	nav div li {
		
	}
}

@media only screen and (max-width: 537px) {
	nav div {
		margin-left: 20%;
	}
}

@media only screen and (max-width: 497px) {
	nav div {
		margin-left: 18%;
	}
}

@media only screen and (max-width: 490px) {

	#hero {
		height: 300px;
	}

	#hero h2 {
		
	}

	.subhero {
		height: 1045px;
	}
	.subhero div {
		width: 90%;
	}
}

@media only screen and (max-width: 473px) {
	nav div {
		margin-left: 16%;
	}
}

@media only screen and (max-width: 442px) {
	nav div {
		margin-left: 14%;
	}
}

@media only screen and (max-width: 420px) {
	nav div {
		margin-left: 12%;
	}
}