section {
	/*background-color: rgba(38, 38, 38, .5);*/
	background-color: transparent;
}

h1 {
	height: 77px;
	width: 172px;
	border: solid black 10px;
	font-family: 'Bangla MN', sans-serif;
	font-size: 70px;
	letter-spacing: -8px;
	margin: 105px;
	padding: 5px 5px 20px 20px;
}

#cause {
	color: rgba(15, 76, 102, 1);
}

#and {
	color: rgba(25, 124, 166, 1);	
}

#reflect {
	color: rgba(34, 171, 229, 1);	
}