* { margin:0; padding:0; box-sizing:border-box; }

body {
	background-image: url(images/cafe2.jpg);
	background-position: ;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	color: rgb(255, 255, 255);
}

.roundedEdges {
	border-radius: 75px;
}

h1 {
	font-family: 'Megrim', cursive;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-weight: lighter;
}

hr {
	margin-top: 15px;
	margin-bottom: 25px;
	margin-left: 40%;
	position: ;
	width: 20%;
}

img {
	border-radius: 40px;
}

p {
	font-family: 'Megrim', cursive;
	font-weight: ;
}

#bottom {
	background-color: rgba(217, 198, 59, .6);
	color: white;
	font-size: 125%;
	font-weight: bold;
	line-height: 30px;
	margin: 2% 31%;
	text-shadow: 2px 2px #000000;
	text-rendering: optimizeLegibility;
	padding: .5%;
}

#top {
	background-color: rgba(140, 138, 138, .6);
	margin: 11% 29% 1.5%;
	padding: 10px;
	text-shadow: 2px 2px #000000;
}

#wordmark {
	background-color: rgba(217, 198, 59, .6);
	font-size: 400%;
	margin: 4% 20% 9%;
	text-decoration: underline;
	text-rendering: optimizeLegibility;	
	text-shadow: 2px 2px #000000;
	word-wrap: break-word;
	
}
