* {
	margin:0; padding:0; 
	background-color: rgba(82, 89, 107, 1);
	color: white;
	text-decoration: none;
}

a, p{
	font-family: 'Josefin Sans', sans-serif;
}

article {
	background: url("images/guerrero-mass-grave.png");
	background-position: no-repeat, center;
	color: white;
	height: 600px;
	width: 1265px;
}

aside {
	background-color: transparent;
	box-sizing: border-box;
	height: 2400px;
	margin: 0px 0px 0px 0px;
}

aside a {
	height: 200px;
	width: 450px;
	border: 2px solid black;
	clear: both;
	display: block;
	font-size: 80px;
	margin: 18px 0px 0px 761px;
	padding-top: 130px;
	text-align: center;
}

aside a:hover {
	color: rgba(221, 39, 39, 1);
}

div {
	background-color: transparent;
}

div a {
	background-color: transparent;
	border-color: solid white;
	border-radius: 10px;
	margin: 105px 0px 25px 18px;
}

h1 {
	background-color: transparent;
	font-family: 'Judson', serif;;
	font-size: 70px;
	margin: 245px 0px 10px 20px;
	width: 632px;
}

nav {
	background-color: rgba(221, 39, 39, 1);
	height: 36px;
	width: 1265px;
	position: fixed;
}

nav a {
	background-color: rgba(221, 39, 39, 1);
	display: inline-block;
	font-family: 'Syncopate', sans-serif;
	font-size: 30px;
	margin-top: 4px;
}

nav a:hover {
	color: black;
}

p {
	background-color: transparent;
	font-size: 30px;
	margin: 0px 0px 0px 20px;
	width: 700px;
}

p + p {
	margin-top: 25px;
}

#logo {
	margin-left: 20px;
}

#date {
	margin-left: 235px;
}

#menu {
	float: right;
	margin-right: 20px;
}

#google {
	width: 30px;
}

#subscribe {
	background-color: rgba(9, 242, 199, .6);
}

#about {
	background-color: rgba(217, 198, 59, .6);
}

#sidearch {
	background-color: rgba(252, 141, 128, .6);
}
