* {
	margin:0; padding:0; box-sizing:border-box;
	background-color: rgba(82, 89, 107, 1);
	color: white;
	text-decoration: none;
}

a {
	font-family: 'Josefin Sans', sans-serif;
}

article {
	height: 600px;
	width: 1265px;
	background: url("images/guerrero-mass-grave.png");
	background-position: no-repeat, center;
	clear: both;
	color: white;
}

article h1:hover {
	color: red;
}

div {
	font-family: 'Judson', serif;
	background-color: black;
	width: 1265px;
	font-size: 40px;
	text-align: center;
}

div section {
	border-bottom: 5px solid rgba(221, 39, 39, 1);
	height: 240px;
}

div section a:hover {
	color: rgba(221, 39, 39, 1);
}

div.archives {
	background-color: rgba(82, 89, 107, .6);
	font-size: 30px;
}

div.archives a {
	width: 35%;
	background-color: black;
	border-radius: 30px;
	display: inline-block;
	font-size: 25px;
	clear: both;
	padding: 6px;
	text-align: center;
}

div.archives img {
	border-radius: 20px;
	float: left;
	margin-left: 50px;
}

footer {
	height: 300px;
	margin-top: 5px;
}

footer a {
	height: 290px;
	width: 350px;
	background-color: rgba(82, 89, 107, .6);
	border: black solid 2px;
	display: inline-block;
	font-size: 80px;
	margin-left: 50px;
	padding-top: 100px;
	text-align: center;
}

footer a:hover {
	color: rgba(221, 39, 39, 1);
}

h1 {
	font-family: 'Judson', serif;
	margin-top: 30px;
}

h2 {
	font-family: 'Josefin Sans', sans-serif;
}

nav {
	height: 36px;
	width: 1265px;
	background-color: rgba(221, 39, 39, 1);
	font-size: 30px;
	position: fixed;
	margin-top:-30px;
}

nav a {
	background-color: rgba(221, 39, 39, 1);
}

nav a:hover {
	color: black;
}

p {
	background:black;
	border-bottom: 5px solid rgba(221, 39, 39, 1); 
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	padding: 20px 0px 20px 0px;
	text-align: center;	
}

section h2:hover {
	color: rgba(221, 39, 39, 1);
}

#logo {
	margin-left: 20px;
}

#date {
	margin-left: 425px;
}

#menu {
	float: right;
	margin-right: 20px;
}

#text {
	background-color: rgba(66, 66, 67, .7);
	font-size: 65px;
	text-align: center;
}

#subscribe {
	background-color: rgba(9, 242, 199, .6);
} 

#about {
	background-color: rgba(217, 198, 59, .6);
}

#footarch {
	background-color: rgba(252, 141, 128, .6);
}

.markers {
	margin-left: 0px;
}

.first {
	background: url("images/hong-kong-umbrella-rev.png");
	background-position: no-repeat, center;
	color: white;
	height: 500px;
	width: 1265px;
}

h2.texttwo {
	background-color: rgba(66, 66, 67, .7);
	font-size: 65px;
	padding: 10px;
	text-align: center;
}

.second {
	background: url("images/ebola.png");
	background-position: no-repeat no-repeat center,;
	color: white;
	height: 500px;
	width: 1265px;
}

.third {
		background: url("images/anita-sarkeesian.png");
	background-position: top;
	color: white;
	height: 500px;
	width: 1265px;
}

.fourth {
	background: url("images/turkey-syria-kobane.png");
	background-position: no-repeat no-repeat top right,;
	color: white;
	height: 500px;
	width: 1265px;
}

.fifth {
	background: url("images/blackstone.png");
	background-position: center no-repeat, no-repeat;
	color: white;
	height: 500px;
	width: 1265px;
}