html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	text-decoration: none;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*=======================================
ABOVE IS THE GA CSS RESET CODE*/

/*=======================================
BELOW IS THE HOMEPAGE CODE*/

body {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

nav {
	background-color: rgba(178, 60, 18, 1);
	font-family: 'Syncopate', sans-serif;
	margin-left: 1.5%;
	margin-right: auto;
	margin-top: -40px;
	padding: 7px 0px 0px 0px;
	position: fixed;
	text-align: center;
	height: 32px;
	width: 97%;
}

nav a {
	color: rgba(250, 250, 250, 1);
	display: inline-block;
	font-size: 29px;
	text-decoration: none;
	text-align: center;
}

a {
	text-align: center;
}

a h1 {
	color: white;
	background-color: rgba(40, 40, 40, .5);
	font-family: helvetica, sans-serif;
	font-size: 40px;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
}

a section {
	margin-top: 5px;
}

section h2 {
	background-color: rgba(40, 40, 40, .5);
	color: white;
	font-family: Helvetica, sans-serif;
	font-size: 40px;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
}

section h3 {
	color: rgba(40, 40, 40, 1);
	font-family: Helvetica, sans-serif;
	font-size: 35px;
	padding: 10px 0px 10px 0px;
	text-decoration: none;
}

section a {
	vertical-align: middle;
}

footer {
	height: 130px;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer a {
	border-radius: 10px;
	color: white;
	display: inline-block;
	float: left;
	font-family: 'Helvetica', sans-serif;
	font-size: 60px;
	margin: 10px 10px 0px 10px;
	padding: 8px;
	text-decoration: none;
	height: 70px;
	width: 30%;
}

.markers {
	background-color: rgba(178, 60, 18, 1);
	color: white;
	font-family: 'Syncopate', sans-serif;
	font-size: 26px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding: 15px 0px 0px 0px;
	text-align: center;
	height: 40px;
	width: 97%;
}

.bstories {
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
}

.archsec {
	width: 97%;
	margin-left: 1.5%;
}

.archsec a {
	background-color: rgba(40, 40, 40, 1);
	border-radius: 20px;
	color: white;
	display: inline-block;
	font-family: 'Georgia', serif;
	font-size: 25px;
	margin: 5px;
	padding: 5px;
	height: 70px;
	width: 30%;
}

.archsec + .archsec {
	border-top: solid black 2px;
	margin-top: 10px;
}

#date {
	 margin-left: 16%;
	 margin-right: 15%;
}

#topstory {
	background-image: url(images/zocalo-protests.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 510px;
	width: 97%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

#first {
	background-image: url(images/hong-kong-umbrella-rev.png);
}

#second {
	background-image: url(images/ebola.png);
}

#third {
	background-image: url(images/anita-sarkeesian.png);
}

#fourth{
	background-image: url(images/kobane-resistance.png);
}

#fifth {
	background-image: url(images/blackstone.png);
}

#about {
	background-color: rgba(40, 40, 40, 1);
}

#subscribe {
	background-color: rgba(178, 60, 18, 1);
}

#footarch {
	background-color: rgba(40, 40, 40, 1);
}

/*======================================
BELOW is CSS for the Story Page*/

body {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

article section p {
	margin: 18px 0px 18px 0px;
}

.storypic {
	height: 500px;
	width: 97%;
	background-image: url(images/zocalo-protests.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
}

.storyarticle {
	width: 100%;
}

.storytitle {
	width: 62%;
	background-color: rgba(40, 40, 40, 1);
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 40px;
	margin: 15px 0px 15px 25px;
	overflow: auto;
	padding: 5px;
	text-align: left;
}

.storybody {
	width: 60%;
	color: rgba(40, 40, 40, 1);
	font-family: 'Georgia', serif;
	font-size: 20px;
	margin-left: 25px;
	text-align: left;
}

#share {
	height: 50px;
	width: 250px;
	background-color: rgba(40, 40, 40, .8);
	border-radius: 30px;
	margin-left: 19px;
}

#share a img {
	width: 40px;
	margin: 0px 10px 0px 10px;
	padding: 5px 0px 0px 0px;
}

/*=====================================
BELOW is CSS for About Us Page */

input[type=email] {
	font-size: 30px;
}

input[type=submit] {
	height: 100px;
	width: 100px;
	font-size: 30px;
}



#aboutnav {
	background-color: rgba(178, 60, 18, 1);
	clear: top;
	font-family: 'Syncopate', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	padding: 7px 0px 0px 0px;
	position: fixed;
	text-align: center;
	height: 32px;
	width: 1230px;
}

#aboutnav a {
	color: rgba(250, 250, 250, 1);
	font-size: 29px;
	text-decoration: none;
	vertical-align: center;
}

#anvil {
	height: 300px;
	width: 600px;
	display: inline-block;
	float: left;
	margin-top: 50px;
}

#anvil img {
	width: 600px;
}

#aboutsection {
	height: 480px;
	width: 580px;
	float: right;
	margin-top: 50px;
}

#aboutsection h1 {
	height: 50px;
	width: 580px;
	background-color: rgba(40, 40, 40, 1);
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 40px;
}

#aboutsection p {
	height: 200px;
	width: 580px;
	background-color: rgba(178, 60, 18, 1);
	border-radius: 30px;
	color: white;
	font-family: 'Georgia', serif;
	font-size: 20px;
	line-height: 35px;
	margin: 5px 0px 5px 0px;
	padding: 20px 2px 0px 2px;
}

#aboutshare {
	height: 40px;
	width: 580px;
	padding: 10px 0px 9px 0px;
}

#aboutshare p {
	width: 580px;
}

#aboutshare a img {
	height: 40px;
}

p#aboutmailing {
	height: 30px;
	width: 580px;
	background-color: rgba(40, 40, 40, 1);
	border-radius: 0px;
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 20px;
	padding: 0px 0px 10px 0px;
}

#aboutfooter {
	height: 400px;
	width: 1230px;
	float: left;
	margin-top: -28px;
}

#aboutfooter a {
	display: inline;
	float: left;
}

/*==================================
BELOW is CSS for Subscribe Page*/

.buttons {
	display: block;
}

.prices {
	font-family: 'Georgia', serif;
	font-size: 18px;
	margin: -20px 0px 0px 20px;
}

.plantype {
	width: 350px;
	background-color: rgba(40, 40, 40, 1);
	border-radius: 20px;
	color: white;
	font-family: 'Helvetica', sans-serif;
	font-size: 25px;
	margin: 0px 0px 15px 15px;
	padding: 8px;
}

.mailing {
	text-align: center;
}

#scribebody {
	width: 1230px;
}

#scribenav {
	background-color: rgba(178, 60, 18, 1);
	font-family: 'Syncopate', sans-serif;
	margin-left: auto;
	margin-right: auto;
	margin-top: -60px;
	padding: 7px 0px 0px 0px;
	position: ;
	text-align: center;
	height: 32px;
	width: 1230px;
}

#scribenav a {
	color: rgba(250, 250, 250, 1);
	font-size: 29px;
	text-decoration: none;
}

#subPlans {
	height: 515px;
	width: 525px;
	margin-left: 20px;
	margin-top: 60px;
	text-align: left;
}

#subImage {
	height: 515px;
	width: 600px;
	float: right;
	margin-top: -505px;
	margin-right: 40px;
}
