/*font-family: 'Judson', serif;

font-family: 'Syncopate', sans-serif;

font-family: 'Josefin Sans', sans-serif;*/
* {
	margin:0; padding:0; 
	background-color: rgba(82, 89, 107, 1);
	color: white;
	text-decoration: none;
}

a, p{
	font-family: 'Josefin Sans', sans-serif;
}

aside {
	width: 300px;
	display: block;
	margin: -500px 0px 0px 590px;
}

div input {
	background-color: rgba(9, 242, 199, .6);
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	margin: 10px 0px 0px 60px;
}

footer {
	background-color: transparent;
	box-sizing: border-box;
	height: 500px;
	margin: 0px 0px 0px 0px;
}

footer a {
	height: 200px;
	width: 450px;
	border: 2px solid black;
	clear: both;
	display: inline-block;
	font-size: 80px;
	margin: 120px 0px 0px 120px;
	padding-top: 130px;
	text-align: center;
}

footer a:hover {
	color: rgba(221, 39, 39, 1);
}

h1 {
	background-color: transparent;
	border-radius: 20px;
	font-family: 'Judson', serif;
	font-size: 40px;
	margin: 10px 0px 10px 20px;
}

h2 {
	font-family: 'Judson', serif;
	font-size: 30px;
	margin: 20px 0px 0px 60px;
}

hr {
	margin-top: 20px;
}

nav {
	height: 36px;
	width: 1265px;
	background-color: rgba(221, 39, 39, 1);
	margin-top: -60px;
	position: fixed;
}

nav a {
	background-color: rgba(221, 39, 39, 1);
	display: inline-block;
	font-family: 'Syncopate', sans-serif;
	font-size: 30px;
	margin-top: 2px;
}

nav a:hover {
	color: black;
}

section {
	width: 530px;
	display: block;
	background-color: transparent;
	border-radius: 20px;
}

.prices {
	font-size: 25px;
	margin: -17px 0px 0px 20px;
}

#logo {
	margin-left: 15px;
}

#date {
	margin-left: 235px;
}

#menu {
	float: right;
	margin-right: 20px;
}

#subPlans {
	width: 530px;
	margin: 60px 0px 0px 30px;
}

#about {
	background-color: rgba(217, 198, 59, .6);
}

#footarch {
	background-color: rgba(252, 141, 128, .6);
}