.bio-section {
	width: 100% !important;
	color: #FEFFF1;
	margin-bottom: -100%;
	padding: 25px;
	position: relative;
	text-align: left;
	top: -100%;
}

.bio-section > div > a {
	color: #FEFFF1;
}

.close-btn {
	color: white;
	display: block;
	float: right;
	margin-right: 5px;
	padding: 15px;
	text-decoration: underline;
}

.close-btn:hover {
	background-color: white;
	color: black;
}