

body {
	background: url(images/background.jpg);
	font-size: 22px;
	font-family: Helvetica;
	color: white;
	height: ;
	width: ;
	padding: ;
}

hr {
	vertical-align: left;
	width: 200px;
}

a {
	
}

#stripes {

}
