

body {
	background: url(images/background.jpg);
	font-size: 22px;
	font-weight: normal;
	font-family: Helvetica;
	color: white;
	height: ;
	width: ;
	padding: ;
}

hr {
	vertical-align: left;
	width: 200px;
}

a {
	
}

#stripes {
	background-repeat: repeat-x;
	position: absolute;
	top: 0;
	left: 0;
}

#taasky {
	margin-top: 200px;
}