

body {
	background: url(images/background.jpg);
	font-size: 22px;
	font-weight: normal;
	font-family: Helvetica;
	color: white;
	text-align: left;
	height: ;
	width: ;
	padding: ;
}

hr {
	width: 100px;
	text-align: left;
}

a {
	
}

#taasky {
	margin-top: 200px;
}